<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Insert title here</title>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />

</head>
<body>
	<div class="container">


		<div class="row">

			<div class="col-sm-4">

				<form action="/calculate" method="post">
					<div class="form-group">
						<input type="number" name="var" min="-9999999" max="9999999" required="required" class="form-control" th:value="${result!= null ? result : 0}" />
						<input type="hidden" value="0" name="result" th:value="${result!= null ? result : 0}" />
					</div>

					<div class="input-group">
					<input type="submit"  class="btn btn-default" value="SUMA" name="operation"/>
					<input type="submit"  class="btn btn-default" value="RESTA" name="operation"/>
					<input type="submit"  class="btn btn-default" value="MULTIPLICACION" name="operation"/>
					<input type="submit"  class="btn btn-default" value="DIVISION" name="operation"/>
					</div>
					<div class="input-group">
					<input type="submit"  class="btn btn-default" value="SENO" name="operation"/>
					<input type="submit"  class="btn btn-default" value="COSENO" name="operation"/>
					<input type="submit"  class="btn btn-default" value="TANGENTE" name="operation"/>
					</div>
					<div class="input-group">
					<input type="submit"  class="btn btn-default" value="POTENCIA" name="operation"/>
					<input type="submit"  class="btn btn-default" value="LOGARITMO" name="operation"/>
					
					</div>


				</form>

			</div>



		</div>



		<script src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"></script>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
			integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
			crossorigin="anonymous"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
			integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
			crossorigin="anonymous"></script>


	</div>

</body>
</html>