<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Spring Calculator</title>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />

</head>
<body>
	<div class="container">


		<div class="row">

			<div class="col-sm-4">

				<h2>Calculadora</h2>
				<form action="/calculate" method="post">
					<div class="alert alert-secondary" role="alert"
						th:text="${result!= null ? result : 0}"></div>

					<div class="form-group">
						<input type="number" name="var" required="required"
							class="form-control" th:value="${result!= null ? result: ''}" />
						<input type="hidden" value="0" name="result"
							th:value="${result!= null ? result : 0}" />
					</div>
					<div class="list-group">
						<input type="submit" class="btn btn-primary" value="SUMA"
							name="operation" /> <input type="submit" class="btn btn-primary"
							value="RESTA" name="operation" /> <input type="submit"
							class="btn btn-primary" value="MULTIPLICACION" name="operation" />
						<input type="submit" class="btn btn-primary" value="DIVISION"
							name="operation" /> <input type="submit" class="btn btn-primary"
							value="SENO" name="operation" /> <input type="submit"
							class="btn btn-primary" value="COSENO" name="operation" /> <input
							type="submit" class="btn btn-primary" value="TANGENTE"
							name="operation" /> <input type="submit" class="btn btn-primary"
							value="POTENCIA" name="operation" /> <input type="submit"
							class="btn btn-primary" value="RAIZ" name="operation" /> <input
							type="submit" class="btn btn-primary" value="LOGARITMO"
							name="operation" /> <input type="submit" class="btn btn-primary"
							value="RESET" name="operation" />
					</div>
					<div class="alert alert-info" th:if="${executonTime!=null}"
						th:text="|${executonTime} Nano segundos|"></div>


				</form>

			</div>
			<div class="col-sm-4">
				<h2>Encriptador</h2>
				<form action="/encrypt" method="post">

					<input type="text" required="required" name="word"
						th:value="${word}" class="form-control" />

					<div class="list-group">
						<input type="submit" name="action" value="encriptar"
							class="btn btn-primary" /> <input type="submit" name="action"
							value="desencriptar" class="btn btn-primary" />
					</div>
					<div class="alert alert-info" th:if="${cryp!=null}"
						th:text="${cryp}"></div>

				</form>
			</div>

			<div class="col-sm-4">
				<h2>Convertidor</h2>
				<form action="convert" method="post">

					<input type="number" required="required" name="value"
						th:value="${value}" class="form-control" />

					<div class="list-group">
						<input type="submit" name="action" value="Convertir"
							class="btn btn-primary" />
					</div>
					<div class="alert alert-info" th:if="${convert!=null}"
						th:each="instance : ${convert}"
						th:text="|${instance.key} : ${instance.value}|"></div>

				</form>
			</div>


		</div>

		<footer>
		
		<label>Codigo fuente :</label> <a href="https://github.com/farvher/calculator" class="">https://github.com/farvher/calculator</a>
			<p>© 2017</p>
		</footer>

	</div>



	<script src="https://code.jquery.com/jquery-3.2.1.js"
		integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		crossorigin="anonymous"></script>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>


	</div>

</body>
</html>